[test]
Trie.ConstructionDestruction                      = 0.5
Trie.FindEmpty                                    = 0.5
TrieInsert.OneLetterFind                          = 0.5
TrieInsert.OtherLetterFind                        = 0.5
TrieInsert.OneWordFind                            = 0.5
TrieInsert.Substring                              = 0.5
TrieInsert.SubstringInsert                        = 1
TrieInsert.SplitTree                              = 1
TrieRemove.Empty                                  = 0.5
TrieRemove.Nonexistant                            = 0.5
TrieRemove.OneLetter                              = 0.5
TrieRemove.OneWord                                = 1
TrieRemove.UselessNodesRemoved                    = 0.5
TrieRemove.NotInSet                               = 0.5
TrieRemove.Superstring                            = 1
TrieRemove.Substring                              = 0.5
TrieRemove.SplitTreeRemoveLeaf                    = 1
TrieRemove.SplitTreeRemoveRoot                    = 1
TrieInsertStress.Random50x30ele                   = 1
TrieInsertStress.Random3x1000ele                  = 0.5
TrieInsertStress.Random3xUltralongWords           = 0.5
TrieInsertStress.NotInSet                         = 0.5
TrieRemoveStress.RandomBuildupBreakdown           = 1
